body{
	margin:0px;
	padding:0px;
}
form {
	width: 400px;
	padding: 40px;
    position:absolute;
	top:50%;
	left: 50%;
	transform : translate(-50%,-50%);
	border: 1px solid black;
}
.logout{
    text-decoration: none;
    color: white;
    padding : 3px;
    background:#0062ffd6;
    border-radius: 5px;
}


.list li{
    padding: 5px;
    font-size: 1.5em;

}
.list a{
    text-decoration: none;
}
input{
    border: 1px oslid black;
}

