.blocks:nth-child(odd){
    display:flex;
}
.blocks:nth-child(even){
    display:flex;
    flex-direction: row-reverse;
}
h1{
    color: orange;
}
.heading{
    padding-bottom: 20px;
}
img{
    height: 300px;
    width: 300px;
}
.index{
    font-size: 30px;
    background-color: orange;
    padding: 5px 15px 5px 15px;
    color: #fff;
    border-radius: 30px;
    position: absolute;
}
.head{
    padding-left: 60px;
    padding-top: 2px;
    font-size: 30px;
    color: orange;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    margin: 0px auto;
    width : 1200px;
}